vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3  # check every 3 seconds
  weight -2
  fall 10  # require 10 failures for KO
  rise 2  # require 2 succeses for OK
}

vrrp_instance VI_1 {
  state {{ (inventory_hostname == groups['kube_controllers'][0]) | ternary('MASTER', 'BACKUP') }}
  interface {{ keepalived_interface }}
  virtual_router_id 1
  priority {{ (inventory_hostname == groups['kube_controllers'][0]) | ternary('101', '100') }}
  advert_int 1
  nopreempt
  virtual_ipaddress {
    {{ keepalived_vip }}
  }
  track_script {
    check_apiserver
  }
}
